.background-nav{
    background-color: #000;
}
.color-nav a{
    color: #fff;
}
.color-right{
    color: #fff;
}
.col-12{
    padding: 0;
}
.title{
    height: 300px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title span{ 
    background-color: #000;
    color: #fff;
}
.img{
    height: 1050px;
    background-image: url(img/jane.jpg);
}
.img p{
    color: #fff;
    font-size: 30px;
}
.img h2{
    color: #fff;
    font-size: 50px;
}
.border{
    border-radius: 0;
}
.background-button{
    background-color: rgba(255, 255, 255, 0.6);
}
.background-main{
    background-color: #f1f1f1;
}
.border-button{
    border: 1px solid #000;
    border-radius: 0px;
    background-color: #fff;
    color: #000;
}
.right{
    float: right;
}
.color-button{
    background-color: #000;
    border: solid 1px #000;
    border-radius: 0px;
}
.color-button span{
    background-color: #fff;
    color: #000;
    padding-left: 5px;
    padding-right: 5px;
}
.footer-card{
    border-top: 1px solid #ccc;
}
.container-img{
    width: 100px;
}
.container-img img{
    width: 100%;
}
.testo-footer-card span{
    opacity: 0.6;
}
.text-center span{
    opacity: 0.6;
}
.grayscale{
    filter: grayscale(60%);
    width: 100%;
}
.photo-right{
    background-color: #000;
    color: #fff; 
}
.testo-photo-right{
    padding: 10px;
    font-size: 15px;
}

.border-list li:first-child{
    border-radius: 0;
    background-color: #000;
    color: #fff;
    border-color: #000;
}
.border-list li:last-child{
    border-radius: 0;
}
.img-list{
    width: 60px;
    padding-right: 5px;
}
.list-text p{
    margin: 0;
}
.seppia{
    filter: sepia(100%);
}
.border-list li{
    border-left: 0;
    border-right: 0;
}
.border-list li:last-child{
    border-bottom: 0;
}
.advertise-text{
    background-color: #000;
    color: #fff;
    padding: 15px;
}
.advertise-text p{
    margin-bottom: 0;
}
.advertise-content{
    height: 200px;
    background-color: #f1f1f1;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.advertise{
    background-color: #fff;
}
.tags-text{
    background-color: #000;
    color: #fff;
    padding: 15px;
}
.tags-text p{
    margin-bottom: 0;
}
.tags-content{
    background-color: #fff;
    padding: 20px 40px 20px 40px;
}
.tags-content a{
    color: #000;
    background-color: #f1f1f1;
    margin: 15px 5px 15px 5px;
}
.tags-content a:first-child{
    color: #fff;
    background-color: #000;
}
.inspiretion-text{
    background-color: #000;
    color: #fff;
    padding: 15px;
}
.inspiretion-text p{
    margin-bottom: 0;
}
.inspiration-img img{
    width: 176px;
    margin: 10px;
}
.inspiration-img{
    background-color: #fff;
}  
.follow-text{
    background-color: #000;
    color: #fff;
    padding: 15px;
}
.follow-text p{
    margin-bottom: 0;
}
.follow-content a{
    color: #000;
    font-size: 20px;
}
.follow-content{
    padding: 10px;
    background-color: #fff;
}
.subsrcibe-text{
    background-color: #000;
    color: #fff;
    padding: 15px;
}
.subsrcibe-text p{
    margin-bottom: 0;
}
.subscribe-content{
    background-color: #fff;
    padding: 15px;
}
.input-email{
    border-radius: 0;
}
.input-button{
    border-radius: 0;
    width: 100%;
    background-color: #f44355;
    color: #fff;
    border-color: #f44355;
}
.top-button{
    background-color: #000;
    border-radius: 0;
    border: solid 1px #000;
    color: #fff;
}
.padding{
    background-color: #616161;
    color: #fff;
    padding: 30px;
}
body{
    background-color: #f1f1f1;
}
.blocco{
    background-color: rgba(0, 0, 0, 0.4);
    height: 2000px;
    width: 100%;
    position: absolute;
    z-index: 10;
    /* display: flex;
    justify-content: center;
    align-items: center;*/
}
.nascondi{
    display: none;
}
.no-scroll{
    overflow: hidden;
}
.subscribe-form .subsrcibe-text{    
    background-color: #fff;
    color: #000;
    font-size: 30px;
}
.subscribe-form{
    width: 70%;
    top: 50px;
    margin: auto;
}

@media (max-width: 768px) { 
    .img{
        height: 250px;
        background-image: url(img/jane.jpg);
        background-size: cover;
    }
    .inspiration-img img{
        width: 130px;
        
    }
}